doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title SAMZE Movie Database
  link(rel='shortcut icon' type='image/x-icon' href='/pictures/DBLogo.png')
  // Custom CSS
  link(rel='stylesheet' href='/mainCSS/navbarStyles.css')  
  link(rel='stylesheet' href='/mainCSS/movieListStyles.css')
  link(rel='stylesheet' href='/mainCSS/personListStyles.css')
  link(href='/css/bootstrap.css' rel='stylesheet')
  link(href='/css/bootstrap-grid.min.css' rel='stylesheet')
  // Material Design Bootstrap
  link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css' rel='stylesheet')

include ../partials/header


// Director List
#directorList.card.mb-3
  h1(style='text-align:center')
    br
    b List of Directors

  #myBox
    #signUpBox
      form#Form.form-row(action = '/directorList/' method ='post')
        .form-group.mx-md-3.mb-2
          label(for='inputUserName') Search for a Director: 
          input#inputUserName.form-control(type='text' name='director' placeholder='')

  each director in directors
    .container
      .card.mt-5.border-5.pt-2.active.pb-0.px-3
        .card-body
          .row
            .col-12
              h4.card-title
                b #{director.name}
            .col
              h6.card-subtitle.mb-2.text-muted
                p.card-text.text-muted.small
                  span.font-weight-bold Following: #{director.followers.length}
                  
        .card-footer.bg-white.px-0
          .row
            .col-md-auto
              a.btn.btn-outlined.btn-black.text-muted.bg-transparent(href= director.name data-wow-delay='0.7s')
                small(style = 'color: white;') Visit Profile 

br 
br

div#parent
  div#child
    nav#paginationTemp(aria-label='Page navigation example')
    ul.pagination
      if current > 1
        - let url = "http://localhost:3000/directorList?page=" + (current-1)
        - if(qstring.length > 0){ url += "&" + qstring; }
        li.page-item
        a.page-link(href= url) Previous

      - url = "http://localhost:3000/directorList?page=" + (current+1)
      - if(qstring.length > 0){ url += "&" + qstring; }
        li.page-item
          a.page-link(href = url) Next

include ../partials/footer